# Node (Frontend)
frontend/node_modules/
frontend/dist/
frontend/.eslintcache

# Gradle / Java (Backend)
url-shortener/.gradle/
url-shortener/build/
url-shortener/bin/
url-shortener/out/

# IDE settings
.idea/
.vscode/
*.class
*.log
.DS_Store
Thumbs.db
